{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="auth-wrapper">
    <h2 class="auth-title">Login</h2>

    <form method="POST">
        {% csrf_token %}

        {% if messages %}
            <div class="auth-messages">
                {% for message in messages %}
                    <p class="auth-error">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="auth-field">
            <label>Email</label>
            <input type="text" name="username" placeholder="Enter your email">
        </div>

        <div class="auth-field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password">
        </div>

        <button type="submit" class="crud-btn">Login</button>
    </form>

    <p class="auth-switch">
        Don’t have an account?
        <a href="{% url 'register' %}">Register here</a>
    </p>
</div>
{% endblock %}
